*{
    margin:0;
}
.parent{
    width:80%;
    min-height: 500px;
    background-color: darkslateblue;
    color:white;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    grid-column-gap:10px;
    grid-row-gap:10px;

}
.child{
    border:1px solid black;
    background-color: greenyellow;
    display:flex;
    justify-content: center;
    align-items: center;
}
.parent,.child:nth-child(1){
    grid-row-start: 1;
    grid-row-end:4;
}
.parent,.child:nth-child(2){
    grid-column-start: 2;
    grid-column-end:4;
}
.parent,.child:nth-child(6){
    grid-row-start: 2;
    grid-row-end:4;
    grid-column-start: 4;
    grid-column-end: 5;
}
.bg-danger{
    background-color: red;
}
.bg-yellow{
    background-color: yellow;
}
body{
    margin-top: 40px;
    margin-left: 90px;
}
.h1{
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}